@font-face { font-family: CalSans; src: url('CalSans-SemiBold.otf'); } 

html, body {
	position: relative;
	width: 100%;
	/* height: 100%; */
}

body {
	color: white;
	background-color: #080718;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;
}

/* a:hover {
	text-decoration: underline;
}

a:visited {
	color: white;
} */

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

h1 {
	font-size: 6rem;
	margin: 0;
}

h2 {
	font-size: 1.6rem;
	font-weight: 500;
}


p {
	font-size: 1.4rem;
	line-height: 1.8rem;
	margin-top: 10px;
}

.container {
	display: grid;
	margin: 20px;
	grid-gap: 30px;
	/* grid-template-columns: 0.8fr 1.5fr 0.7fr; */
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.logo {
	height: 250px;
	align-self: center;
	margin: 5px;
}

.twitter {
	font-size: 2rem;
	padding: 20px 40px;
	border-radius: 80px;
	background-color: white;
	color: #080718;
	margin-top: 50px;
	display: inline-block;
}

.hero {
	/* display: grid;
	grid-template-columns: 2.8fr 1.2fr; */
	/* padding-top: 100px; */
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

label {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 500;
	color: rgb(255, 0, 191);
}

input {
	width: 100%;
}
.email-button {
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.container {
		grid-template-columns: 1fr;
	}
	h1 {
		font-size: 3rem;
	}
	.hero {
		padding-top: 100px;
	}

	.logo {
		height: 100px;
	}
  }
